<h1>Component I/O</h1>

<number-stepper [value]="fontSize" (valueChange)="fontSize=$event" ></number-stepper>
<br>
<number-stepper [(value)]="fontSize" ></number-stepper>

<p [ngStyle]="{'font-size.pt': fontSize}">
    {{text}}
</p>
<button (click)="reset()">
    Reset Size
</button>
