<h1>HttpClient Demo</h1>

<h2>All Users</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.age }}</td>
            <td>
                <button (click)="load(user.id)" >
                    View User
                </button>
            </td>
        </tr>
    </tbody>
</table>

<ng-container *ngIf="oneUser">
    <h2>One User</h2>

    <table >
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{oneUser.id}}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{oneUser.name}}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{oneUser.age}}</td>
            </tr>
        </tbody>
    </table>

    <button (click)="reset()">
        Clear
    </button>
</ng-container>
