<fieldset>
    <legend>User Registration</legend>

    <form [formGroup]="registrationForm">
        <table>
            <tbody>
                <tr>
                    <th>Email</th>
                    <td>
                        <input type="email" [formControl]="email">
                    </td>
                    <td>
                        <ul *ngIf="email.errors">
                            <li *ngIf="email.errors.required">Must have a value</li>
                            <li *ngIf="email.errors.email">Must have a one @ sign</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td colspan="2">
                        <button [disabled]="registrationForm.invalid" (click)="submit()">SEND</button>
                        <span style="padding-left: 1em;"></span>
                        <button (click)="cancel()">CANCEL</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

    <hr>
    <pre>
        email: {{ email.errors | json }}
        registrationForm: {{ registrationForm.status }}
        value: {{ registrationForm.value | json}}
    </pre>
</fieldset>
