<h1>Routing App</h1>

<nav>
    <ul>
        <li *ngFor="let link of links" [routerLinkActive]="'current-route'">
            <a [routerLink]="link.uri">{{ link.label }}</a>
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>

<footer>
    &copy; Faulty Software, Ltd. All rights reversed.
</footer>
