.current-route {
    color: darkorange;
    font-weight: bold;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: .5em 1em;
    background-color: #333;
    color: #eee;
}
