<h1>Registration Forms</h1>

<h2>Template-Oriented</h2>
<template-oriented-form
    [init]="user"
    (submit)="onSubmit($event)"
    (cancel)="onCancel()"
></template-oriented-form>

<h2>Component-Oriented</h2>
<component-oriented-form
    [init]="user"
    (submit)="onSubmit($event)"
    (cancel)="onCancel()"
></component-oriented-form>

