<h1>Date Offset</h1>

<table>
    <tbody>
        <tr>
            <th>Base Date</th>
            <td>
                <input type="date"
                       [ngModel]="toHTML(date)"
                       (ngModelChange)="date = fromHTML($event)"
                >
            </td>
        </tr>
        <tr>
            <th>Offset</th>
            <td>
                <input type="range"
                       [(ngModel)]="offset"
                       [min]="minOffset"
                       [max]="maxOffset"
                >
                ({{ offset }})
            </td>
        </tr>
        <tr>
            <th>Computed Date</th>
            <td>
                {{ nextDate(date,offset) | date:'MMMM d, yyyy' }}
            </td>
        </tr>
    </tbody>
</table>

