:host {
    font-family: sans-serif;
}

table {
    width: 100%;

    th {
        text-align: left;
    }

    tbody {
        tr:hover {
            background-color: #eee;
        }
    }

    th:nth-child(3), td:nth-child(3) {
        text-align: right;
    }

    th:nth-child(4), td:nth-child(4) {
        text-align: center;
    }
}
