<h1>Products</h1>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Price</th>
            <th>Count</th>
            <th>Service</th>
            <th>Updated</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products; let row=index; let showOren=odd">
            <td>{{row + 1}}</td>
            <td>{{p.name | titlecase}}</td>
            <!-- <td>{{p.price|currency:'GBP':'symbol':'1.2-2'}}</td>-->
            <td>{{p.price | kr:showOren}}</td>
            <td>{{p.count | number:'1.0-0'}}</td>
            <td>{{p.service ? 'Yes' : ''}}</td>
            <td>{{p.updated | date:'yyyy-MM-dd'}}</td>
        </tr>
    </tbody>
</table>

