<h1>Products using Service</h1>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of svc.findAll(); let row=index">
            <td>{{row+1}}</td>
            <td>{{p.name | titlecase}}</td>
            <td>{{p.price | currency:'USD':'symbol':'1.0-0'}}</td>
        </tr>
    </tbody>
</table>
