<h1>Components</h1>

<table>
    <tr>
        <th>Name</th>
        <td>
            <editable-text [(value)]="name" ></editable-text>
        </td>
    </tr>
    <tr>
        <th>Email</th>
        <td>
            <editable-text [value]="email"  (valueChange)="onSave($event)"></editable-text>
        </td>
    </tr>
</table>
<hr>
<pre>
    name={{name}}
    email={{email}}
</pre>
