<h1>Persons</h1>

<!--
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>First</th>
            <th>Last</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of persons; let row=index; let isOdd=odd" [ngClass]="{striped: isOdd}">
            <td>{{row + 1}}</td>
            <td>{{p.first_name}}</td>
            <td>{{p.last_name}}</td>
            <td>{{p.email}}</td>
        </tr>
    </tbody>
</table>
-->

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
        </tr>
    </thead>
    <tbody>
        <tr
            *ngFor="let p of persons; let row=index; let isEven=even"
            [ngClass]="{striped: isEven}"
        >
            <td>{{row+1}}</td>
            <td>{{p.first_name}}</td>
            <td>{{p.last_name}}</td>
            <td>{{p.email}}</td>
        </tr>
    </tbody>
</table>


