/* You can add global styles to this file, and also import other style files */
body {
    font-family: sans-serif;
}

th {
    text-align: left;
    padding: .25em 1em;
    background-color: #eee;
}

input.ng-dirty.ng-invalid {
    border: 1px solid orangered;
}
input.ng-dirty.ng-valid {
    border: 1px solid forestgreen;
}

