/* You can add global styles to this file, and also import other style files */

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: darkorange;
        text-decoration: underline;
    }
}
