<h1>Product Details</h1>

<table *ngIf="product">
    <tbody>
        <tr>
            <th>ID</th>
            <td>{{product.id}}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{product.name}}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{product.price | currency:'GBP':'symbol':'1.0-0'}}</td>
        </tr>
    </tbody>
</table>
