<h1>All Products</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of dao.findAll()">
            <td>{{p.id}}</td>
            <td>{{p.name | titlecase}}</td>
            <td>{{p.price | currency:'GBP':'symbol':'1.0-0'}}</td>
            <td>
                <a [routerLink]="['/product', p.id]">VIEW</a>
            </td>
        </tr>
    </tbody>
</table>
