<ng-template #labelVisible>
    <span *ngIf="!empty" (click)="edit()" class="label">
        {{label}}
    </span>
    <span *ngIf="empty" (click)="edit()" class="empty">
        {{hint}}
    </span>
</ng-template>

<span *ngIf="formVisible; else labelVisible">
    <input type="text" [(ngModel)]="formValue" (keyup)="onKeyUp($event)" >
</span>
